@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    font-size: 1.2rem;
    font-weight: normal;
    --default-green: #446A46;
}

body {
    margin: 0;
    padding: 0;
    color: var(--default-green);
}